* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: Josefin Sans
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
  /* display: grid; */
  align-items: center;
}

.login_form {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.page_login {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.9s ease-in-out;
}

.forms-login {
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid white;
  margin-inline: 2.5rem;
  padding: 2.5rem 3.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(8px);
  width: 70%;
  left: 10%;
}

form {
  /* display: grid; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}



form.facultyform {
  opacity: 0;
  z-index: 1;
  transition: 1.5s 0.7s ease-in-out;
}

form.studentform {
  z-index: 2;
  opacity: 1;
  transition: 1.5s 0.7s ease-in-out;
}

.title {
  color: rgb(48, 47, 47);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.loginContent,.input-field{
  display: grid;
}

.loginContent{
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}
.input-field {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid white;
  display: grid;
}


.login__icon,
#login_eye {
  font-size: 1.25rem;
}

.login__input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: black;
  position: relative;
  z-index: 1;
  border: none;
  outline: none;
}

.box_input {
  position: relative;
}

.login__label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: 500;
  transition: top 0.3s, font-size 0.3s;
}

.login_eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}

.input-field:nth-child(2) input {
  padding-right: 1.8rem;
}

.login_check,.check_box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.check_box{
  column-gap: 0.5rem;
}

.check_input{
  width: 16px;
  height: 16px;
}

.forget_password{
  text-decoration: none;
}

.forget_password:hover{
  text-decoration: underline;
}

.loginButton{
  width: 100%;
  padding: 0.5rem;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: none;
  border-radius: 0.5rem;
  background-color: #5995fd;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.register{
  text-align: center;
  font-size: large;
}

.register a{
  text-decoration: none;
}
.register a:hover{
  text-decoration: underline;
}

.login__input:focus + .login__label{
  top: -12px;
  font-size: 0.85rem;
}

.login__input:not(:placeholder-shown).login__input:not(:focus) + .login__label{
  top: -12px;
  font-size: 0.85rem;
}

.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}
.panels_cont {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.login:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #4481eb 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  height: 0;
  padding: 10rem 45% 2rem 12%;
}

.right-panel {
  pointer-events: none;
  height: 0;
  padding: 10rem 15% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s .6s ease-in-out;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.right-panel .content {
  transform: translateX(800px);
}

.Signup{
  display: none;
}

/*+++++++++++++++Animation+++++++++++++++*/

.login.faculty-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.login.faculty-mode .left-panel .content {
  /* transition: transform 1.5s 0.5s ease-in-out; */
  transform: translateX(-800px);
}

.login.faculty-mode .right-panel .content{
  /* transition: transform 1.5s 0.5s ease-in-out; */
  transform: translateX(0px);
}


.login.faculty-mode .left-panel {
  pointer-events: none;
}
.login.faculty-mode .right-panel {
  pointer-events: all;
}

.login.faculty-mode .page_login {
  left: 25%;
}

.login.faculty-mode form.facultyform {
  opacity: 1;
  z-index: 2; 
}

.login.faculty-mode form.studentform {
  z-index: 1;
  opacity: 0;
}

.login.active .Signup{
  display: list-item;
}
.login.active .Signin{
  display: none;
}

@media (max-width: 870px){
  .login{
    min-height: 800px;
    height: 100vh;
  }
  
  .login::before{
    width: 1500px;
    height: 1500px;
    left: 30%;
    bottom: 68%;
    transform: translateX(-50%);
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .page_login{
    width: 100%;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-100%);
    transition: 1s 0.8s ease-in-out;
  }

  .panels_cont{
    /* background-color: green; */
    z-index: 10;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel .content{
    padding-right: 50%;
    transition: 0.9s 0.8s ease-in-out;
  }

  .panel h3{
    font-size: 1.5rem;
  }

  .panel p{
    font-size: 0.9rem;
    padding: 0.5rem 0;
  }

  .left-panel{
    grid-row: 1/2;
  }

  .right-panel{
    grid-row: 3/4;
  }

  .panel{
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 4.5rem ;
  }

  .right-panel .content {
    transform: translateY(300px);
  }

  .btn.transparent{
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .login.faculty-mode::before{
    transform: translate(-50%,100%);
    bottom: 32%;
    right: initial;
  }

  .login.faculty-mode .left-panel .content{
    transform: translateY(-300px);
  }

  .login.faculty-mode .page_login{
    top: 15%;
    transform: translate(-50%,0);
    left: 50%;
  }
}

@media (max-width: 570px){
  form{
    padding: 0 1.5rem;
  }
  .panel .content{
    padding: 0.5rem 1rem;
  }

  .login::before{
    bottom: 72%;
    left: 50%;
  }

  .login.faculty-mode::before{
    bottom: 28%;
    left: 50%;
  }
}